<contratista-header></contratista-header>

<div class="row">
  <h3 class="center blue-grey-text" >Gestión de obras Supervisor</h3>
</div>
<div class="row">
  <div class="col s2">
  </div>
  <div class="col s4">
    <i class="material-icons left" ng-click="modal1()">info</i><b class="labelp">NOMBRE:</b>&nbsp {{nombre}}
  </div>
  <div class="col s4">
    <i class="material-icons left" ng-click="modal2()">info</i><b class="labelp">PERFIL:</b>&nbsp Supervisor
  </div>
</div>

<div class="row">
  <h4 class="center blue-grey-text" >Obras esperando reporte</h4>
</div>
<div ui-i18n="{{'es'}}">
  <div  ui-grid="tablaOpr" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>

<div class="row">
  <h4 class="center blue-grey-text" >Obras para validar</h4>
</div>
<div ui-i18n="{{'es'}}">
  <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>

<div id="validacion" class="modal">
  <div class="modal-content">
    <h4 class="blue-grey-text darken-2">Información de la Obra  <i class="material-icons">info_outline</i></h4>
    <div class="row">
      <div class="col s12">
        <p><b class="blue-grey-text darken-1">CÓDIGO: &nbsp</b>{{job.codigo_SAP}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p><b class="blue-grey-text darken-1">DESCRIPCIÓN: &nbsp</b>{{job.description}}</p>
      </div>
    </div>
    <h5 class="blue-grey-text darken-2">Trabajo: {{job.nom_tra}} <i class="material-icons">info_outline</i></h5>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA INICIO: </b>{{job.inicio | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA FIN: </b>{{job.fin | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s9">
            <p><b class="blue-grey-text darken-1">FASE: </b>{{fase.nombre}}</p>
          </div>
        </div>
        <div class="row" ng-if="fase.nombre==ejecucion">
          <div class="col s12">
            <b class="blue-grey-text darken-1">COMENTARIOS:</b><br>
            {{job.comentario}}
          </div>
        </div>
      </div>
    </div>
    <h5 class="blue-grey-text darken-2">{{previo.titulo}} <i class="material-icons">info_outline</i></h5>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s9">
            <p><b class="blue-grey-text darken-1">{{previo.role}}: </b>{{previo.quien}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA INICIO: </b>{{previo.fecha_inicio | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA FIN: </b>{{previo.fecha_fin | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <b class="blue-grey-text darken-1">COMENTARIOS:</b><br>
            {{previo.comentario}}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">RESULTADO: </b>{{previo.resultado}}</p>
          </div>
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">CAUSA: </b>{{previo.causa}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <b class="blue-grey-text darken-1">REPROGRAMACIONES:</b>
            {{previo.num_reprog}}
          </div>
          <div class="col s6" ng-show="previo.causa==avanceparcial">
            <b class="blue-grey-text darken-1">AVANCE (%):</b>
            {{previo.avance}}
          </div>
        </div>
      </div>
    </div>
    <h4>Validacion</h4>
    <div class="row">
      <form class="col s12" ng-model="validacion">
        <div class="row">
          <div class="col s6">
            <label for="inicio">Fecha inicio:</label>
            <input class="form-control"
                   ng-model="validacion.fecha_inicio"
                   ng-model-options="{ updateOn: 'blur' }"
                   moment-picker="validacion.fecha_inicio"
                   format="DD/MM/YYYY HH:mm"
                   start-view="month"
                   keyboard="true"
                   placeholder="DD/MM/YYYY HH:mm"
                   locale="es">
          </div>
          <div class="col s6">
            <label for="fin">Fecha fin:</label>
            <input class="form-control"
                   ng-model="validacion.fecha_fin"
                   ng-model-options="{ updateOn: 'blur' }"
                   moment-picker="validacion.fecha_fin"
                   format="DD/MM/YYYY HH:mm"
                   start-view="month"
                   keyboard="true"
                   placeholder="DD/MM/YYYY HH:mm"
                   locale="es">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="comentario" type="text" class="validate" ng-model="validacion.comentario">
            <label for="comentario">Comentario:</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label>Resultado</label>
            <select class="browser-default" ng-model="resultado" ng-options="res.name for res in results" required="required">
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn" ng-click="sendValidar()">Validar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="cancelarValidacion()">Cancelar</a>
  </div>
</div>

<div id="errores" class="modal">
  <div class="modal-content">
    <h4>Error al enviar el paso:</h4>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p ng-repeat="error in errores"><i class="material-icons left" ng-click="modal1()">forward</i>{{error}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn" ng-click="closeErrores()">Aceptar</a>
  </div>
</div>
