.page-footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem; }

.icon-fenosa {
  padding: 10px;
  width: 60%;
  height: auto; }

.login-form {
  margin: 8%; }

/* label color */
.input-field label {
  color: #1a237e; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #1a237e; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #1a237e;
  box-shadow: 0 1px 0 0 #1a237e; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #1a237e;
  box-shadow: 0 1px 0 0 #1a237e; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #1a237e;
  box-shadow: 0 1px 0 0 #1a237e; }

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #1a237e; }

.input-field input[type=password]:focus {
  border-bottom: 1px solid #1a237e;
  box-shadow: 0 1px 0 0 #1a237e; }

/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid #1a237e;
  box-shadow: 0 1px 0 0 #1a237e; }

/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid #1a237e;
  box-shadow: 0 1px 0 0 #1a237e; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #1a237e; }

ui-view {
  min-height: 70vh; }

body {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column; }

main {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto; }

.bottones-zonas {
  margin-top: 10%; }
  .bottones-zonas .btn-large {
    width: 100%;
    margin: 1rem; }

.bottones-contratas {
  margin-top: 5%; }
  .bottones-contratas .btn {
    width: 100%;
    margin: 0.2rem; }

.letra-grande td {
  font-size: 1.8em; }

body {
  font-family: 'Muli', sans-serif; }

.capitalize::first-letter {
  text-transform: uppercase; }

.myGrid {
  width: auto;
  height: 500px;
  margin: 5%; }

.largeBtn {
  width: 100%; }

.container-login {
  margin-top: 50px;
  margin-bottom: 50px; }

h6.label {
  font-weight: 900;
  font-family: sans-serif; }

.error-input {
  color: #930000;
  display: block;
  text-align: left;
  margin-top: -15px; }

.ui-grid-btn {
  background-color: #607d8b;
  margin: 2px 2px;
  width: 98%;
  position: relative;
  color: #eceff1;
  border-radius: 5%; }

.ui-grid-btn:focus {
  background-color: #607d8b; }

.swal-button--cancel {
  color: #555;
  background-color: #efefef !important; }

.preloader-background {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.feedback-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 5px;
  color: #2E4053; }

.btn-vote {
  width: 80%; }

.feedback-nav {
  margin-top: 10px; }

.feedback-underline {
  text-decoration: underline; }

.feedback-votes {
  background-color: #FCFDFF;
  border: 1px solid #CFD7E6;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #646B72;
  font-size: 12px;
  margin: 20px auto 3px auto;
  width: 80%;
  padding: 12px 0 9px 0;
  text-align: center; }

.feedback-user {
  margin-top: 10px;
  border: 1px solid #CFD7E6; }

.feedback-commented-area {
  background-color: #EBF5FB; }

strong {
  color: #292C33;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px; }

.hand-cursor {
  cursor: pointer; }

.modalGrid {
  width: auto;
  height: 300px;
  margin: 5%; }
