<div id="resetPass" class="modal ">
    <div class="modal-content" ng-show="formSend">
        <div class="row">
            <form id="newPass" name="newPass" class="col s12" ng-model="user" ng-init="user = {}">
                <h5 class="blue-grey-text darken-2 center">Restablecimiento de Contraseña:  </h5>
                <hr><br>
                <div class="row" ng-show="request">
                    <div class="col s5">
                        <br>
                        <p class="black-text">Ingresa tu correo electrónico:</p>
                    </div>
                    <div class="input-field col s7">
                        <input id="correo" name="correo" type="email" class="validate" ng-model="user.email" ng-required="request">
                        <label for="correo">Correo Electrónico</label>
                        <small ng-show="newPass.correo.$touched && newPass.correo.$invalid" class="error-input">Ingrese un correo válido.</small>
                    </div>
                </div>
                <div class="row" ng-show="!request">
                    <p class="black-text">Ingresa tu nueva contraseña:</p><br>
                    <div class="input-field col s6">
                        <input id="passwd" name="passwd" type="password" class="validate" ng-model="user.password" ng-required="!request">
                        <label for="passwd">Nueva contraseña</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="passCon" name="passCon" type="password" class="validate" ng-model="confirmation"
                               ng-pattern="user.password" ng-required="!request">
                        <label for="passCon">Confirmar contraseña</label>
                        <small ng-show="newPass.passCon.$touched && newPass.passCon.$invalid" class="error-input">La contraseña no coincide.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="modal-action waves-effect waves-green btn" ng-disabled="newPass.$invalid" ng-click="resetPassword(user)" ng-show="request">Enviar</a>
                    <a class="modal-action waves-effect waves-green btn" ng-disabled="newPass.$invalid" ng-click="changePassword(user.password)" ng-show="!request">Confirmar</a>
                    <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="cancelar()">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-content" ng-show="!formSend">
        <div class="row">
            <form id="msg" name="msg" class="col s12">
                <h5 class="blue-grey-text darken-2 center">Restablecimiento de Contraseña:  </h5>
                <hr><br>
                <div class="row">
                    <div class="col s12">
                        <h5 class="blue-grey-text darken-2">Revisa tu correo electrónico</h5>
                        <p class="black-text"> Hemos enviando un correo electrónico a la dirección registrada. Haz clic<br>
                                               en el enlace dentro del correo electrónico para restablecer tu contraseña.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class=" modal-action modal-close waves-effect waves-green btn" ng-click="cancelar()">Aceptar</a>
                </div>
            </form>
        </div>
    </div>
</div>
