<header-admin></header-admin>

<div class="row">
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="img/users.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Usuarios<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Usuarios<i class="material-icons right">close</i></span>
        <p>Menú de administración de Usuarios de PPO</p>
      </div>
      <div class="card-action">
        <a ui-sref="perfil_admin_usuarios">Usuarios: {{numeroUsuarios}}</a>
      </div>
    </div>
  </div>
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="img/folder_check.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Obras Cerradas<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Obras Cerradas<i class="material-icons right">close</i></span>
        <p>Menú de administración de Obras Cerradas</p>
      </div>
      <div class="card-action">
        <a ui-sref="perfil_admin_proyectos_cerrados">Obras: {{proyectos}}</a>
      </div>
    </div>
  </div>
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="img/feedback.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">BackLog<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">BackLog<i class="material-icons right">close</i></span>
        <p>Menú de administración de las sugerencias hechas por los usuarios de PPO.</p>
      </div>
      <div class="card-action">
        <a ui-sref="perfil_admin_backlog">Sugerencias: {{backlogs}}</a>
      </div>
    </div>
  </div>
</div>
