<header-admin></header-admin>

<br>
<div class="row">
    <h2 class="center blue-grey-text" >Obras Cerradas</h2>
</div>
<div class="row">
    <h6 class="center blue-grey-text">Seleccione la Obra para ver detalle</h6>
</div>
<div ui-i18n="{{'es'}}">
    <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>