<header-admin></header-admin>

<nav>
    <div class="nav-wrapper blue-grey darken-2">
        <form>
            <div class="input-field">
                <input id="search" type="search" required ng-model="search">
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

<div id="usuario" class="row">
    <ul class="collapsible center" data-collapsible="accordion">
        <li class="collapsible-header"><h4>Usuarios</h4></li>
        <li ng-repeat="usuario in usuarios | filter: search">
            <div class="collapsible-header">
                <i class="material-icons">contacts</i>{{usuario.username}}
                <a class="right" ng-click="deleteUser(usuario.id)">
                    <i class="material-icons right">delete_forever</i>
                </a>
                <a class="right" ng-click="viewUser(usuario)">
                    <i class="material-icons right">mode_edit</i>
                </a>
            </div>
            <div class="collapsible-body">
                <ul class="row">
                    <li class="col s3"><b>Nombre</b></li>
                    <li class="col s3"><b>Correo</b></li>
                    <li class="col s2"><b>Rol</b></li>
                    <li class="col s2"><b>Zona</b></li>
                    <li class="col s2"><b>Area de Servicio</b></li>
                </ul>
                <ul class="row">
                    <li class="col s3">{{usuario.name}}</li>
                    <li class="col s3">{{usuario.email}}</li>
                    <li class="col s2">{{usuario.role.description}}</li>
                    <li class="col s2">{{usuario.locacion}}</li>
                    <li class="col s2">{{usuario.area_servicio}}</li>
                </ul>
            </div>
        </li>
    </ul>
</div>


<!-- Modales -->

<div id="nuevos" class="row">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating yellow darken-1" data-target="newUsuarios">
                    <i class="material-icons" ng-click="edit=true">contacts</i>
                </a>
            </li>
        </ul>
    </div>
</div>


<div id="newUsuarios" class="modal">
    <div class="modal-content">
        <h4>Usuario</h4>
        <div class="row">
            <form name="user" class="col s12" ng-model="usuario">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="nombre" name="nombre" type="text" class="validate" ng-model="usuario.name" min="10" ng-required="true">
                        <label class="active" for="nombre">Nombre</label>
                        <small ng-show="user.nombre.$touched && user.nombre.$pristine" class="error-input">CAMPO REQUERIDO</small>
                        <small ng-show="user.nombre.$invalid && user.nombre.$dirty" class="error-input">LONGITUD MINIMA DE 10 CARACTERES</small>
                    </div>
                    <div class="input-field col s6">
                        <input id="correo" name="correo" type="email" class="validate" ng-model="usuario.email" ng-required="true">
                        <label class="active" for="correo">Correo</label>
                        <small ng-show="user.correo.$touched && user.correo.$invalid" class="error-input">INGRESE UN CORREO VÁLIDO</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="username" name="username" type="text" class="validate" ng-model="usuario.username" min="6" ng-required="true">
                        <label class="active" for="username">Usuario</label>
                        <small ng-show="user.username.$touched && user.username.$pristine" class="error-input">CAMPO REQUERIDO</small>
                        <small ng-show="user.username.$invalid && user.username.$dirty" class="error-input">LONGITUD MINIMA DE 6 CARACTERES</small>
                    </div>
                    <div class="input-field col s6">
                        <input id="passwd" name="passwd" type="password" class="validate" ng-model="usuario.password" min="6" ng-required="true">
                        <label class="active" for="passwd">Password</label>
                        <small ng-show="user.passwd.$touched && user.passwd.$pristine" class="error-input">CAMPO REQUERIDO</small>
                        <small ng-show="user.passwd.$invalid && user.passwd.$dirty" class="error-input">LONGITUD MINIMA DE 6 CARACTERES</small>
                    </div>
                </div>
                <div class="row" >
                    <div class="col s6">
                        <label>Perfil</label>
                        <select id="role" name="role" class="browser-default" ng-model="usuario.id_rol"
                                ng-options="rol.id as rol.description for rol in roles" ng-required="true">
                        </select><br>
                        <small ng-show="user.role.$touched && user.role.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <label>Localización</label>
                            <select id="locacion" name="locacion" class="browser-default" ng-model="usuario.id_locacion"
                                    ng-options="loc.id as loc.nombre for loc in locaciones" ng-required="true">
                            </select><br>
                            <small ng-show="user.locacion.$touched && user.locacion.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label>Área de Servicio</label>
                        <select name="area" class="browser-default" ng-model="usuario.area_servicio" ng-required="true">
                            <option ng-value="Desarrollo">Desarrollo</option>
                            <option ng-value="Mantenimiento">Mantenimiento</option>
                        </select><br>
                        <small ng-show="user.area.$touched && user.area.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                    <div class="col s6">
                        <label>Empresa Contratista</label>
                        <select class="browser-default" ng-model="usuario.id_contratista" ng-options="con.id as con.nombre for con in contratistas">
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-green btn right" ng-disabled="user.$invalid" ng-click="createUser(usuario)" ng-hide="!edit">Crear</button>
        <button class="waves-effect waves-green btn right" ng-disabled="user.$invalid" ng-click="updateUser(usuario)" ng-hide="edit">Editar</button>
        <a class="waves-effect waves-green btn-flat right" ng-click="closeUsuarioModal()">Cancelar</a>
    </div>
</div>

