<header-cdc></header-cdc>
<br>
<div class="row">
    <h3 class="blue-grey-text darken-2 center">Cargar Obras</h3>
</div>


<div ui-i18n="{{'es'}}">
    <div  ui-grid="tablaOp" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid">
        <form action="#">
            <div class="file-field input-field">
                <br><br>
                <div class="btn">
                    <span>Seleccione un archivo...</span>
                    <input id="masivo" type="file" accept=".xls,.xlsx,.ods" fileread="" opts="tablaOp" multiple="false" />
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="col s5 right">
                <button class="btn waves-effect waves-light green darken-3" ui-sref="perfil_cdc_crear" ng-click="uploadMasivo()">Cargar Obras
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>


<div id="nuevos" class="row">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Crear Individual" data-target="proyecto">
            <i class="large material-icons">add</i>
        </a>
    </div>
</div>


<div id="proyecto" class="modal">
    <div class="modal-content">
        <div class="row">
            <form name="proy" class="col s12" ng-model="proyecto" ng-init="proyecto.obras = [{}]">
                <h4 class="blue-grey-text darken-2">Información de la Obra</h4>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="codigo_sap" name="codigo_sap" type="text" class="validate" ng-model="proyecto.codigo_SAP" required>
                        <label for="codigo_sap">Código SAP</label>
                        <small ng-show="proy.codigo_sap.$touched && proy.codigo_sap.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                    <div class="input-field col s6">
                        <input id="name" name="name" type="text" class="validate" ng-model="proyecto.nombre" ng-required="true">
                        <label for="name">Nombre</label>
                        <small ng-show="proy.name.$touched && proy.name.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label>Localización</label>
                        <select id="locacion" name="locacion" class="browser-default" ng-model="proyecto.locacion" ng-change="validateSetLocacion(proyecto.locacion)"
                                ng-options="loc.nombre for loc in locaciones" ng-required="true">
                        </select><br>
                        <small ng-show="proy.locacion.$touched && proy.locacion.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="coment" name="coment" class="materialize-textarea" ng-model="proyecto.comentarios" ng-required="true"></textarea>
                        <label for="coment">Comentarios</label>
                        <small ng-show="proy.coment.$touched && proy.coment.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                </div>
                <h4 class="blue-grey-text darken-2">Información de las Etapas</h4>
                <br>
                <div class="row" ng-repeat="obra in proyecto.obras">
                    <h5 class="blue-grey-text darken-1">Etapa:</h5>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="nombre" name="nombre" type="text" class="validate" ng-model="obra.nombre" ng-required="true">
                            <label for="nombre">Nombre</label>
                            <small ng-show="proy.nombre.$touched && proy.nombre.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                        <div class="input-field col s6">
                            <input id="uucc" name="uucc" type="number" class="validate" ng-model="obra.uucc" min="0" ng-required="true">
                            <label for="uucc">UUCC</label>
                            <small ng-show="proy.uucc.$touched && proy.uucc.$error.required" class="error-input">CAMPO REQUERIDO</small>
                            <small ng-show="proy.uucc.$error.min" class="error-input">INGRESE UN VALOR VÁLIDO</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <label>Área de Servicio</label>
                            <select name="area" class="browser-default" ng-model="obra.area_servicio" ng-required="true">
                                <option ng-value="Desarrollo">Desarrollo</option>
                                <option ng-value="Mantenimiento">Mantenimiento</option>
                            </select><br>
                            <small ng-show="proy.area.$touched && proy.area.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                        <div class="col s6">
                            <label>Empresa Contratista</label>
                            <select name="eecc" class="browser-default" ng-model="obra.id_eecc_asignado"
                                    ng-options="ec.id as ec.name for ec in eeccs" ng-required="true">
                            </select><br>
                            <small ng-show="proy.eecc.$touched && proy.eecc.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                    <div class="row" ng-show="showLocacion">
                        <div class="col s6">
                            <label>Establecimiento</label>
                            <select name="est" class="browser-default" ng-model="obra.id_locacion"
                                    ng-options="est.id as est.nombre for est in establecimientos">
                            </select><br>
                            <small ng-show="proy.est.$touched && proy.est.$pristine" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <label>Fecha Límite</label>
                            <input name="limite" type="date" datepicker placeholder="yyyy-mm-dd" ng-model="obra.fecha_limite" ng-min="hoy" ng-required="true">
                            <small ng-show="proy.limite.$touched && proy.limite.$invalid" class="error-input">LA FECHA DEBE SER SUPERIOR A HOY</small>
                        </div>
                        <div class="col s6">
                            <label>Jefe de Área</label>
                            <select name="js" class="browser-default" ng-model="obra.id_js_asignado"
                                    ng-options="js.id as js.name for js in jefesServicio" ng-required="true">
                            </select><br>
                            <small ng-show="proy.js.$touched && proy.js.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="comentObra" name="comentObra" class="materialize-textarea" ng-model="obra.comentarios" ng-required="true"></textarea>
                            <label for="comentObra">Comentarios</label>
                            <small ng-show="proy.comentObra.$touched && proy.comentObra.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                </div>
                <a class="waves-effect waves-green btn" ng-disabled="proy.$invalid" ng-click="proyecto.obras.push({})" >Agregar Etapa</a>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action waves-effect waves-green btn" ng-disabled="proy.$invalid" ng-click="crearProyecto(proyecto)">Crear Obra</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeCrearProyectoModal()">Cancelar</a>
    </div>
</div>

<div id="cargueMasivo" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="blue-grey-text darken-2">Reporte de Cargue Masivo <i class="material-icons">info_outline</i></h4>
        <div class="row">
            <div class="row">
                <div class="col s12">
                    <p>Se cargaron &nbsp<b class="blue-grey-text darken-1">{{codigosRegistrados.length}}</b>&nbsp Obras éxitosamente!</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>Las siguientes &nbsp<b class="blue-grey-text darken-1">{{codigosExistentes.length}}</b>
                    &nbsp Obras ya se encontraban registradas:</p>
                </div>
            </div>
            <div class="row" ng-repeat="c in codigosExistentes">
                <li class="col s12">Código: {{c.codigo_SAP}}</li>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-green btn right" ng-click="closeModal()">Aceptar</button>
    </div>
</div>

<div ng-hide="loading" class="preloader-background">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 20});
    });
</script>