<header-cdc></header-cdc>

<br>
<div class="row">
  <h2 class="center blue-grey-text" >Obras Asignadas</h2>
</div>
<div class="row">
  <h6 class="center blue-grey-text">Seleccione la Obra para ver detalle</h6>
</div>
<div ui-i18n="{{'es'}}">
  <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>


<div id="detalleProyecto" class="modal">
  <div class="modal-content">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li class="collapsible-header"><h4>Detalle Obra</h4></li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">control_point</i>{{detalleProyecto.nombre}}
          <a class="right">
            <i class="material-icons right">remove_red_eye</i>
          </a>
        </div>
        <div class="collapsible-body">
          <ul class="row">
            <li class="col s4"><h6 class="label">Código SAP:</h6></li>
            <li class="col s4"><h6 class="label">Nombre:</h6></li>
            <li class="col s4"><h6 class="label">Localización:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleProyecto.codigo_SAP}}</li>
            <li class="col s4">{{detalleProyecto.nombre}}</li>
            <li class="col s4">{{detalleProyecto.nombre_locacion}}</li>
          </ul>
          <ul class="row">
            <li class="col s4"><h6 class="label">Fecha Creación:</h6></li>
            <li class="col s4"><h6 class="label">UUCC:</h6></li>
            <li class="col s4"><h6 class="label">Jefe de Servicio Líder:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleProyecto.fecha_ingreso}}</li>
            <li class="col s4">{{detalleProyecto.uucc}}</li>
            <li class="col s4">{{detalleProyecto.js}}</li>
          </ul>
          <!--ul class="row">
            <li class="col s4"><h6 class="label">Porcentaje Avance:</h6></li>
            <li class="col s4"><h6 class="label">Reprogramaciones:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleProyecto.porcentaje_avance}}</li>
            <li class="col s4">{{detalleProyecto.num_reprog}}</li>
          </ul-->
          <ul class="row">
            <li class="col s12"><h6 class="label">Comentarios:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s12">{{detalleProyecto.comentarios}}</li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li class="collapsible-header"><h4>Detalle Etapas</h4></li>
      <li ng-repeat="detalleObra in detalleObras ">
        <div class="collapsible-header">
          <i class="material-icons">details</i>{{detalleObra.nombre}}
          <a class="right">
            <i class="material-icons right">remove_red_eye</i>
          </a>
        </div>
        <div class="collapsible-body">
          <ul class="row">
            <li class="col s4"><h6 class="label">Nombre:</h6></li>
            <li class="col s4"><h6 class="label">Localización:</h6></li>
            <li class="col s4"><h6 class="label">Fecha Creación:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleObra.nombre}}</li>
            <li class="col s4">{{detalleObra.nombre_locacion}}</li>
            <li class="col s4">{{detalleObra.fecha_ingreso}}</li>
          </ul>
          <ul class="row">
            <li class="col s4"><h6 class="label">UUCC:</h6></li>
            <li class="col s4"><h6 class="label">EECC Asignado:</h6></li>
            <li class="col s4"><h6 class="label">Fecha Límite:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleObra.uucc}}</li>
            <li class="col s4">{{detalleObra.eecc.name}}</li>
            <li class="col s4">{{detalleObra.fecha_ingreso}}</li>
          </ul>
          <ul class="row">
            <li class="col s4"><h6 class="label">JS Asignado:</h6></li>
            <li class="col s4"><h6 class="label">Area de Servicio:</h6></li>
            <li class="col s4"><h6 class="label">Estado:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleObra.js.name}}</li>
            <li class="col s4">{{detalleObra.area_servicio}}</li>
            <li class="col s4">{{detalleObra.estado_programa}}</li>
          </ul>
          <ul class="row">
            <li class="col s12"><h6 class="label">Comentarios:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s12">{{detalleObra.comentarios}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="proyecto" class="modal">
  <div class="modal-content">
    <h4>Obra</h4>
    <br>
    <div class="row">
      <form class="col s12" ng-model="proyecto">
        <div class="row">
          <div class="input-field col s6">
            <input id="codigo_sap" type="text" ng-model="proyecto.codigo_SAP">
            <label class="active" for="codigo_sap">Código SAP</label>
          </div>
          <div class="input-field col s6">
            <input id="name" type="text" ng-model="proyecto.nombre">
            <label class="active" for="name">Nombre</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Localización</label>
            <select class="browser-default" ng-model="proyecto.id_locacion" ng-change="validateSetLocacion(proyecto.id_locacion)"
                    ng-options="loc.id as loc.nombre for loc in locaciones" required>
              <option selected>{{proyecto.nombre_locacion}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="comentarios" class="materialize-textarea" ng-model="proyecto.comentarios"></textarea>
            <label class="active" for="comentarios">Comentarios</label>
          </div>
        </div>
        <h4>Etapas de la Obra</h4>
        <br>
        <div class="row" ng-repeat="obra in proyecto.obras">
          <h5>Etapa:</h5>
          <div class="row">
            <div class="input-field col s6">
              <input id="nombre" type="text" class="validate" ng-model="obra.nombre">
              <label class="active" for="nombre">Nombre</label>
            </div>
            <div class="input-field col s6">
              <input id="uucc" type="number" class="validate" ng-model="obra.uucc">
              <label class="active" for="uucc">UUCC</label>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <label>Área de Servicio</label>
              <select class="browser-default" ng-model="obra.area_servicio" required>
                <option ng-value="Desarrollo">Desarrollo</option>
                <option ng-value="Mantenimiento">Mantenimiento</option>
              </select>
            </div>
            <div class="col s6">
              <label>EECC</label>
              <select class="browser-default" ng-model="obra.id_eecc_asignado"
                      ng-options="eecc.id as eecc.username for eecc in eeccs" required>
              </select>
            </div>
          </div>
          <div class="row" ng-show="showLocacion">
            <div class="col s6">
              <label>Localización</label>
              <select class="browser-default" ng-model="obra.id_locacion"
                      ng-options="est.id as est.nombre for est in locaciones" required>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <label>Fecha Límite</label>
              <input type="text" datepicker placeholder="yyyy-mm-dd" ng-model="obra.fecha_limite">
            </div>
            <div class="col s6">
              <label>Jefe de Servicio</label>
              <select class="browser-default" ng-model="obra.id_js_asignado"
                      ng-options="js.id as js.username for js in jefesServicio" required>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="comentariosObra" class="materialize-textarea" ng-model="obra.comentarios"></textarea>
              <label class="active" for="comentariosObra">Comentarios</label>
            </div>
          </div>
        </div>
        <!--a class="waves-effect waves-green btn" ng-click="proyecto.obras.push({})" >Agregar Obra</a--><!--No puede aagregar obras-->
        <div class="modal-footer">
          <a class=" modal-action waves-effect waves-green btn" ng-click="updateProyecto(proyecto)">Editar</a>
          <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeAsignarObrasModal()">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
