<header-cdc></header-cdc>

<br>

<div class="row">
    <div class="col s4">
        <label for="nombre">Nombre</label>
        <input disabled id="nombre" type="text" ng-model="usuario.name" class="validate">
    </div>
    <div class="col s4">
        <label for="sap">Correo</label>
        <input disabled id="sap" type="text" ng-model="usuario.email" class="validate">
    </div>
    <div class="col s4">
        <label for="zona">Zona</label>
        <input disabled id="zona" type="text" ng-model="usuario.zona" class="validate">
    </div>
</div>

<div class="row">
    <h4 class="blue-grey-text darken-2 center">CDC - Menú de Gestión de Obras</h4>
</div>

<div class="row">
    <div class="col s6 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/folder_add.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-3">Crear Obras<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-3">Crear Obras<i class="material-icons right">close</i></span>
                <p>Menú para la creación masiva o individual de Obras.</p>
            </div>
            <div class="card-action">
                <a ui-sref="perfil_cdc_crear">Crear Obras</a>
            </div>
        </div>
    </div>
    <div class="col s6 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/folder_person.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-3">Asignar Obras<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-3">Asignar Obras<i class="material-icons right">close</i></span>
                <p>Menú para la asignación y balanceo de los Obras.</p>
            </div>
            <div class="card-action">
                <a ui-sref="perfil_cdc_asignar">Asignar Obras: {{unassigned}}</a>
            </div>
        </div>
    </div>
    <div class="col s6 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/folder_check.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-3">Editar Obras<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-3">Editar Obras<i class="material-icons right">close</i></span>
                <p>Menú para ver detalle y editar Obras asignadas.</p>
            </div>
            <div class="card-action">
                <a ui-sref="perfil_cdc_editar">Editar Obras: {{assigned}}</a>
            </div>
        </div>
    </div>
</div>
<br><br>