<header-cdc></header-cdc>
<br>
<div class="row">
    <h3 class="center blue-grey-text" >Obras por Asignar</h3>
</div>
<div ui-i18n="{{'es'}}">
    <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>

<div id="proyecto" class="modal">
    <div class="modal-content">
        <div class="row">
            <form name="proy" class="col s12" ng-model="proyecto" ng-init="proyecto.obras = [{}]">
                <h4 class="blue-grey-text darken-2">Información de la Obra  <i class="material-icons">info_outline</i></h4>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">CÓDIGO SAP: &nbsp</b>{{proyecto.codigo_SAP}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">NOMBRE: &nbsp</b>{{proyecto.nombre}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">LOCALIZACIÓN: &nbsp</b>{{proyecto.nombre_locacion}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">FECHA CREACIÓN: &nbsp</b>{{proyecto.fecha_ingreso | date:'yyyy-MM-dd'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <b class="blue-grey-text darken-1">COMENTARIOS</b><br>
                        {{proyecto.comentarios}}
                    </div>
                </div>
                <br>
                <h4 class="blue-grey-text darken-2">Información de las Etapas</h4>
                <br>
                <div class="row" ng-repeat="obra in proyecto.obras">
                    <h5 class="blue-grey-text darken-1">Etapa:</h5>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="nombre" name="nombre" type="text" class="validate" ng-model="obra.nombre" required>
                            <label for="nombre">Nombre</label>
                            <small ng-show="proy.nombre.$touched && proy.nombre.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                        <div class="input-field col s6">
                            <input id="uucc" name="uucc" type="number" class="validate" ng-model="obra.uucc" min="0" required>
                            <label for="uucc">UUCC</label>
                            <small ng-show="proy.uucc.$touched && proy.uucc.$error.required" class="error-input">CAMPO REQUERIDO</small>
                            <small ng-show="proy.uucc.$error.min" class="error-input">INGRESE UN VALOR VÁLIDO</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <label>Área de Servicio</label>
                            <select name="area" class="browser-default" ng-model="obra.area_servicio" required>
                                <option ng-value="Construccion">Construcción</option>
                                <option ng-value="Mantenimiento">Mantenimiento</option>
                            </select><br>
                            <small ng-show="proy.area.$touched && proy.area.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                        <div class="col s6">
                            <label>Empresa Contratista</label>
                            <select name="eecc" class="browser-default" ng-model="obra.id_eecc_asignado"
                                    ng-options="ec.id as ec.name for ec in eeccs" required>
                            </select><br>
                            <small ng-show="proy.eecc.$touched && proy.eecc.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                    <div class="row" ng-show="showLocacion">
                        <div class="col s6">
                            <label>Establecimiento</label>
                            <select name="est" class="browser-default" ng-model="obra.id_locacion"
                                    ng-options="est.id as est.nombre for est in establecimientos">
                            </select><br>
                            <small ng-show="proy.est.$touched && proy.est.$pristine" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <label>Fecha Límite</label>
                            <input name="limite" type="date" datepicker placeholder="yyyy-mm-dd" ng-model="obra.fecha_limite" ng-min="hoy" required>
                            <small ng-show="proy.limite.$touched && proy.limite.$invalid" class="error-input">LA FECHA DEBE SER SUPERIOR A HOY</small>
                        </div>
                        <div class="col s6">
                            <label>Jefe de Servicio</label>
                            <select name="js" class="browser-default" ng-model="obra.id_js_asignado"
                                    ng-options="js.id as js.name for js in jefesServicio" required>
                            </select><br>
                            <small ng-show="proy.js.$touched && proy.js.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="comentObra" name="comentObra" class="materialize-textarea" ng-model="obra.comentarios" required></textarea>
                            <label for="comentObra">Comentarios</label>
                            <small ng-show="proy.comentObra.$touched && proy.comentObra.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                </div>
                <a class="waves-effect waves-green btn" ng-disabled="proy.$invalid" ng-click="proyecto.obras.push({})" >Agregar Etapa</a>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action waves-effect waves-green btn" ng-disabled="proy.$invalid" ng-click="updateProyecto(proyecto)">Asignar</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeAsignarObrasModal()">Cancelar</a>
    </div>
</div>