<footer class="page-footer blue-grey darken-3" ng-hide="footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Gestión de Obras CGE Chile</h5>
        <p class="grey-text text-lighten-4" style="text-align: justify;">Aplicación desarrollada para hacer siguimiento de las obras.
        </p>
        <img src="img/logoSendas.png" class="responsive-img">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.cge.cl/" target="_blank">Compañia General de Electricidad</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.sendasvalue.com/" target="_blank">Sendas Value</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Construido por Sendas Value y la Compañia General de Electricidad de Chile
    </div>
  </div>
</footer>
