<nav>
  <!--a href="#!" class="brand-logo center">
    <img src="img/logoFenosa.png" class="responsive-img icon-fenosa">
  </a-->
  <div class="nav-wrapper blue-grey darken-3">
  </div>
</nav>

<div class="container container-login">
  <div class="row">
    <div class="card-panel z-depth-5 col s4 offset-s4">
      <div class="login-form">
        <div class="row">
          <div class="col s12 center">
            <img src="img/logoFenosa.png" class="responsive-img">
            <p class="center login-form-text">PPO SISTEMA DE GESTIÓN DE PROYECTOS</p>
          </div>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">person_outline</i>
                <input id="user" type="text" class="validate" ng-model="user">
                <label for="user">Usuario</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password" type="password" class="validate" ng-model="passwd">
                <label for="password">Contraseña</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 center">
                <a class="btn largeBtn waves-effect waves-light orange accent-2" name="action" ng-click="login(user, passwd)">
                  Iniciar Sesión
                </a>
              </div>
            </div>
            <div class="center">
              <a ui-sref="cambiar_passwd">¿Olvidaste tu contraseña?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
