<header-js></header-js>


<br><br>
<div ui-i18n="{{'es'}}">
    <h4 class="blue-grey-text darken-2 center">Asignar Supervisor</h4>
    <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>


<div id="asignarGP" class="modal">
    <div class="modal-content">
        <div class="row">
            <form name="formGp" class="col s12" ng-model="proyecto">
                <h4 class="blue-grey-text darken-2">Información de la Obra  <i class="material-icons">info_outline</i></h4>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">CÓDIGO SAP: &nbsp</b>{{proyecto.codigo_SAP}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">NOMBRE: &nbsp</b>{{proyecto.nombre}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">LOCALIZACIÓN: &nbsp</b>{{proyecto.nombre_locacion}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">UNIDADES CONSTRUCTIVAS: &nbsp</b>{{proyecto.uucc}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <b class="blue-grey-text darken-1">COMENTARIOS</b><br>
                        {{proyecto.comentarios}}
                    </div>
                </div>
                <br>
                <h4 class="blue-grey-text darken-2">Supervisor</h4>
                <br>
                <div class="row" >
                    <div class="col s12">
                        <label>Seleccione un Supervisor</label>
                        <select class="browser-default" name="selectGP" ng-model="proyecto.id_gp_asignado"
                                min="0" ng-options="gp.id as gp.name for gp in GPs" ng-required="true">
                        </select><br>
                        <small ng-show="formGp.selectGP.$touched && formGp.selectGP.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button id="asignar" class="waves-effect waves-green btn right" ng-disabled="formGp.$invalid" ng-click="asignarGP(proyecto)">Asignar</button>
        <a class="waves-effect waves-green btn-flat right" ng-click="closeAsignarGP()">Cancelar</a>
    </div>
</div>
