<header-js></header-js>

<br>
<div ui-i18n="{{'es'}}">
    <h4 class="blue-grey-text darken-2 center">Asignar Trabajos</h4>
    <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>

<div id="obraTrabajos" class="modal">
    <div class="modal-content">
        <div class="row">
            <form name="gp" class="col s12" ng-model="obra" ng-init="obra.trabajos = [{}]">
                <h4 class="blue-grey-text darken-2">Información de la Obra  <i class="material-icons">info_outline</i></h4>
                <div class="row">
                    <div class="col s12">
                        <p><b class="blue-grey-text darken-1">CÓDIGO: &nbsp</b>{{obra.parent.codigo_SAP}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p><b class="blue-grey-text darken-1">DESCRIPCIÓN: &nbsp</b>{{obra.parent.nombre}}</p>
                    </div>
                </div>
                <h4 class="blue-grey-text darken-2">Información de la Etapa  <i class="material-icons">info_outline</i></h4>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">NOMBRE: &nbsp</b>{{obra.nombre}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">UNIDADES CONSTRUCTIVAS: &nbsp</b>{{obra.uucc}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">LOCALIZACIÓN: &nbsp</b>{{obra.nombre_locacion}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">AREA DE SERVICIO: &nbsp</b>{{obra.area_servicio}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">FECHA LIMITE: &nbsp</b>{{obra.fecha_limite | date:'yyyy-MM-dd  h:mma'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <b class="blue-grey-text darken-1">COMENTARIOS</b><br>
                        {{obra.comentarios}}
                    </div>
                </div>
                <br>
                <h4 class="blue-grey-text darken-2">Trabajos de la Etapa</h4>
                <br>
                <div class="row" ng-repeat="trabajo in obra.trabajos">
                    <h5 class="blue-grey-text darken-1">Trabajo:</h5>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="nombre" name="nombre" type="text" class="validate" ng-model="trabajo.nombre" ng-required="true">
                            <label class="active" for="nombre">Nombre</label>
                            <small ng-show="gp.nombre.$touched && gp.nombre.$invalid" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                        <div class="input-field col s6">
                            <input id="uucc" name="uucc" type="number" class="validate" ng-min="0" ng-max="obra.uucc" ng-model="trabajo.uucc" ng-required="true">
                            <label class="active" for="uucc">UUCC</label>
                            <small ng-show="gp.uucc.$touched && gp.uucc.$error.required" class="error-input">CAMPO REQUERIDO</small>
                            <small ng-show="gp.uucc.$touched && gp.uucc.$error.min" class="error-input">UUCC DEBE SER MAYOR QUE 0</small>
                            <small ng-show="gp.uucc.$touched && gp.uucc.$error.max" class="error-input">UUCC DEBE SER INFERIOR A UUCC DE LA ETAPA</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <label>Fecha Inicio</label>
                            <input name="fecIni" type="date" datepicker placeholder="yyyy-mm-dd" ng-model="trabajo.fecha_inicio"
                                   ng-min="hoy" ng-max="trabajo.fecha_fin" ng-required="true">
                            <small ng-show="gp.fecIni.$touched && gp.fecIni.$error.required" class="error-input">CAMPO REQUERIDO</small>
                            <small ng-show="gp.fecIni.$touched && gp.fecIni.$error.min" class="error-input">DEBE SER IGUAL O SUPERIOR A HOY</small>
                            <small ng-show="gp.fecIni.$touched && gp.fecIni.$error.max" class="error-input">DEBE SER IGUAL O INFERIOR A FECHA FIN</small>
                        </div>
                        <div class="col s6">
                            <label>Fecha Fin</label>
                            <input name="fecFin" type="date" datepicker placeholder="yyyy-mm-dd" ng-model="trabajo.fecha_fin"
                                   ng-min="trabajo.fecha_fin" ng-max="obra.fecha_limite" ng-required="true">
                            <small ng-show="gp.fecFin.$touched && gp.fecFin.$error.required" class="error-input">CAMPO REQUERIDO</small>
                            <small ng-show="gp.fecFin.$touched && gp.fecFin.$error.min" class="error-input">DEBE SER IGUAL O SUPERIOR A FECHA INICIO</small>
                            <small ng-show="gp.fecFin.$touched && gp.fecFin.$error.max" class="error-input">DEBE SER IGUAL O INFERIOR A FECHA LIMITE OBRA</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="liquida" class="browser-default" ng-model="trabajo.materiales" ng-required="true">
                                <option value="" disabled selected>¿El trabajo tiene Cuadratura de Materiales?</option>
                                <option ng-value="0">Si</option>
                                <option ng-value="1">No</option>
                            </select><br>
                            <small ng-show="gp.liquida.$touched && gp.liquida.$pristine" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="comentTrab" name="comentTrab" class="materialize-textarea" ng-model="trabajo.comentarios" ng-required="true"></textarea>
                            <label class="active" for="comentTrab">Comentarios</label>
                            <small ng-show="gp.comentTrab.$touched && gp.comentTrab.$error.required" class="error-input">CAMPO REQUERIDO</small>
                        </div>
                    </div>
                </div>
                <a class="waves-effect waves-green btn" ng-disabled="gp.$invalid" ng-click="obra.trabajos.push({}); validarUUCC(obra)" >Agregar Trabajo</a>
                <!--small ng-show="gp.nombre.$touched && gp.nombre.$invalid" class="error-input">CAMPO REQUERIDO</small-->
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action waves-effect waves-green btn" ng-disabled="gp.$invalid" ng-click="crearTrabajos(obra)">Crear</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeAsignarTrabajoModal()">Cancelar</a>
    </div>
</div>
