<header-js></header-js>


<br><br>
<div ui-i18n="{{'es'}}">
    <h4 class="blue-grey-text darken-2 center">Generar Compromisos</h4>
    <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>


<div id="compromiso" class="modal">
    <div class="modal-content">
        <div class="row">
            <form name="formComp" class="col s12" ng-model="fase">
                <h4 class="blue-grey-text darken-2">Información de la Obra  <i class="material-icons">info_outline</i></h4>
                <div class="row">
                    <div class="col s12">
                        <p><b class="blue-grey-text darken-1">CÓDIGO: &nbsp</b>{{proyecto.codigo_SAP}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p><b class="blue-grey-text darken-1">DESCRIPCIÓN: &nbsp</b>{{proyecto.nombre}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5 class="center"><b class="blue-grey-text darken-1">FASE: &nbsp</b>{{fase.nombre}}</h5><hr>
                    </div>
                </div>
                <div class="row" ng-show="contrapropPrevia">
                    <h4 class="blue-grey-text darken-2">Propuesta Previa Trabajo <i class="material-icons">info_outline</i></h4>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">FECHA INICIO: &nbsp</b>{{propTrabajo.fecha_inicio | date:'dd-MM-yyyy'}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">FECHA FIN: &nbsp</b>{{propTrabajo.fecha_fin | date:'dd-MM-yyyy'}}</p>
                    </div>
                </div>
                <div class="row" ng-show="contrapropPrevia">
                    <!--h4 class="blue-grey-text darken-2">Propuesta Previa  <i class="material-icons">info_outline</i></h4>
                    <div class="row">
                        <div class="col s6">
                            <p><b class="blue-grey-text darken-1">FECHA INICIO &nbsp</b>{{fase.propuesta.fecha_inicio | date:'yyyy-MM-dd h:mma':'-0400'}}</p>
                        </div>
                        <div class="col s6">
                            <p><b class="blue-grey-text darken-1">FECHA FIN &nbsp</b>{{fase.propuesta.fecha_fin | date:'yyyy-MM-dd h:mma':'-0400'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <b class="blue-grey-text darken-1">COMENTARIOS</b><br>
                            {{fase.propuesta.comentario}}
                        </div>
                    </div>
                    <br-->
                    <h4 class="blue-grey-text darken-2">Contrapropuesta Previa  <i class="material-icons">info_outline</i></h4>
                    <div class="row">
                        <div class="col s6">
                            <p><b class="blue-grey-text darken-1">CONTRATISTA: &nbsp</b>{{fase.eecc.name}}</p>
                        </div>
                        <div class="col s6">
                            <p><b class="blue-grey-text darken-1">BRIGADA: &nbsp</b>{{fase.contrapropuesta.brigada}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="blue-grey-text darken-1">CHECKLIST</h6>
                        <div class="input-field col s4">
                            <input id="replanteo" ng-model="fase.contrapropuesta.replanteo" type="checkbox">
                            <label for="replanteo">Replanteo</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="permiso" ng-model="fase.contrapropuesta.permiso" type="checkbox">
                            <label for="permiso">Permiso</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="material" ng-model="fase.contrapropuesta.materiales" type="checkbox">
                            <label for="material">Materiales</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="poda" ng-model="fase.contrapropuesta.poda" type="checkbox">
                            <label for="poda">Poda</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="descargo" ng-model="fase.contrapropuesta.descargo" type="checkbox">
                            <label for="descargo">Descargo</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="tarjeta" ng-model="fase.contrapropuesta.tarjeta_amarilla" type="checkbox">
                            <label for="tarjeta">Tarj. Amarilla</label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col s6">
                            <p><b class="blue-grey-text darken-1">FECHA INICIO &nbsp</b>{{fase.contrapropuesta.fecha_inicio | date:'dd-MM-yyyy h:mma':'-0400'}}</p>
                        </div>
                        <div class="col s6">
                            <p><b class="blue-grey-text darken-1">FECHA FIN &nbsp</b>{{fase.contrapropuesta.fecha_fin | date:'dd-MM-yyyy h:mma':'-0400'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <br>
                            <b class="blue-grey-text darken-1">COMENTARIOS</b><br>
                            {{fase.contrapropuesta.comentario}}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="row" ng-show="validacionPrevia">
                    <h4 class="blue-grey-text darken-2">Validación Previa  <i class="material-icons">info_outline</i></h4>
                    <div class="row">
                        <div class="col s12">
                            <p><b class="blue-grey-text darken-1">SUPERVISOR: &nbsp</b>{{fase.gp.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p><b class="blue-grey-text darken-1">FECHA INICIO: &nbsp</b>{{fase.validacion_supervisor.fecha_inicio}}</p>
                        </div>
                        <div class="col s6">
                            <p><b class="blue-grey-text darken-1">FECHA FIN: &nbsp</b>{{fase.validacion_supervisor.fecha_fin}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p><b class="blue-grey-text darken-1">COMENTARIOS: &nbsp</b>{{fase.validacion_supervisor.comentario}}</p>
                        </div>
                    </div>
                </div>
                <h4 class="blue-grey-text darken-2">Generar Compromiso</h4>
                <br>
                <div class="row" ng-show="contrapropPrevia">
                    <div class="input-field col s12">
                        <select class="browser-default" name="estado" ng-change="setFechasCompromiso(fase.compromiso.estado)" ng-model="fase.compromiso.estado" ng-required="contrapropPrevia">
                            <option value="" disabled selected>¿Aprueba Contrapropuesta?</option>
                            <option ng-value="1">Si</option>
                            <option ng-value="0">No</option>
                        </select><br>
                        <small ng-show="formComp.estado.$touched && formComp.estado.$pristine" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label for="fecIni">Fecha Inicio:</label>
                        <input id="fecIni" class="form-control" name="fecIni" ng-model="fase.compromiso.fecha_inicio" ng-model-options="{ updateOn: 'blur' }"
                               moment-picker="fase.compromiso.fecha_inicio" format="DD/MM/YYYY HH:mm" start-view="month" keyboard="true"
                               min-date="hoy" max-date="fase.compromiso.fecha_fin" placeholder="DD/MM/YYYY HH:mm" locale="es" required>
                        <small ng-show="formComp.fecIni.$touched && formComp.fecIni.$error.required" class="error-input">CAMPO REQUERIDO</small>
                        <small ng-show="formComp.fecIni.$touched && formComp.fecIni.$error.minDate" class="error-input">DEBE SER IGUAL O SUPERIOR A FECHA HOY</small>
                        <!--small ng-show="formComp.fecIni.$touched && formComp.fecIni.$error.min" class="error-input">DEBE SER IGUAL O SUPERIOR A FECHA INICIO TRABAJO</small-->
                        <!--si se necesita poner la validacion anterior reemplazar esto en el input ng-min="propTrabajo.fecha_inicio"-->
                        <small ng-show="formComp.fecIni.$touched && formComp.fecIni.$error.maxDate" class="error-input">DEBE SER IGUAL O INFERIOR A FECHA FIN</small>
                    </div>
                    <div class="col s6">
                        <label for="fecIni">Fecha Inicio:</label>
                        <input id="fecFin" class="form-control" name="fecFin" ng-model="fase.compromiso.fecha_fin" ng-model-options="{ updateOn: 'blur' }"
                               moment-picker="fase.compromiso.fecha_fin" format="DD/MM/YYYY HH:mm" start-view="month" keyboard="true"
                               min-date="fase.compromiso.fecha_inicio" placeholder="DD/MM/YYYY HH:mm" locale="es" required>
                        <small ng-show="formComp.fecFin.$touched && formComp.fecFin.$error.required" class="error-input">CAMPO REQUERIDO</small>
                        <small ng-show="formComp.fecFin.$touched && formComp.fecFin.$error.minDate" class="error-input">DEBE SER IGUAL O SUPERIOR A FECHA INICIO</small>
                        <!--small ng-show="formComp.fecFin.$touched && formComp.fecFin.$error.max" class="error-input">DEBE SER IGUAL O INFERIOR A FECHA FIN TRABAJO</small-->
                        <!--si se necesita poner la validacion anterior agregar esto al input ng-max="propTrabajo.fecha_fin" -->
                    </div>
                </div>
                <div class="row" >
                    <div class="input-field col s12">
                        <textarea id="comentComp" name="comentComp" class="materialize-textarea" ng-model="fase.compromiso.comentario" ng-required="true"></textarea>
                        <label for="comentComp">Comentarios</label>
                        <small ng-show="formComp.comentComp.$touched && formComp.comentComp.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-green btn right" ng-disabled="formComp.$invalid" ng-click="crearCompromiso(fase)">Crear Compromiso</button>
        <a class="waves-effect waves-green btn-flat right" ng-click="closeCompromiso()">Cancelar</a>
    </div>
</div>