<header-js></header-js>

<div class="row">
  <br>
  <h2 class="center blue-grey-text" >Detalle de Etapas</h2>
</div>
<div class="row">
  <h6 class="center blue-grey-text">Seleccione la Etapa para ver detalle</h6>
</div>
<div ui-i18n="{{'es'}}">
  <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>


<div id="detalleObra" class="modal">
  <div class="modal-content">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li class="collapsible-header"><h4>Detalle Etapa</h4></li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">control_point</i>{{detalleObra.nombre}}
          <a class="right" ng-click="">
            <i class="material-icons right">remove_red_eye</i>
            <!--i class="material-icons right">mode_edit</i-->
          </a>
        </div>
        <div class="collapsible-body">
          <ul class="row">
            <li class="col s4"><h6 class="label">Nombre:</h6></li>
            <li class="col s4"><h6 class="label">Localización:</h6></li>
            <li class="col s4"><h6 class="label">Fecha Creación:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleObra.nombre}}</li>
            <li class="col s4">{{detalleObra.nombre_locacion}}</li>
            <li class="col s4">{{detalleObra.fecha_ingreso | date:'yyyy-MM-dd'}}</li>
          </ul>
          <ul class="row">
            <li class="col s4"><h6 class="label">Jefe de Servicio:</h6></li>
            <li class="col s4"><h6 class="label">Empresa Contratista:</h6></li>
            <li class="col s4"><h6 class="label">UUCC:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleObra.js.name}}</li>
            <li class="col s4">{{detalleObra.eecc.name}}</li>
            <li class="col s4">{{detalleObra.uucc}}</li>
          </ul>
          <ul class="row">
            <li class="col s4"><h6 class="label">Area de Servicio:</h6></li>
            <li class="col s4"><h6 class="label">Estado:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleObra.area_servicio}}</li>
            <li class="col s4">{{detalleObra.estado_programa}}</li>
          </ul>
          <ul class="row">
            <li class="col s12"><h6 class="label">Comentarios:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s12">{{detalleObra.comentarios}}</li>
          </ul>
          <br>
          <ul class="row">
            <h5>Propuesta Obra:</h5>
            <hr>
            <li class="col s4"><h6 class="label">Fecha Inicio:</h6></li>
            <li class="col s4"><h6 class="label">Fecha Fin:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleObra.propuesta.fecha_inicio | date:'yyyy-MM-dd'}}</li>
            <li class="col s4">{{detalleObra.propuesta.fecha_fin | date:'yyyy-MM-dd'}}</li>
          </ul>
          <ul class="row">
            <li class="col s12"><h6 class="label">Comentarios Propuesta:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s12">{{detalleObra.propuesta.comentario}}</li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li class="collapsible-header"><h4>Detalle Trabajos</h4></li>
      <li ng-repeat="detalleTrabajo in detalleTrabajos">
        <div class="collapsible-header">
          <i class="material-icons">details</i>{{detalleTrabajo.nombre}}
          <a class="right" ng-click="">
            <i class="material-icons right">remove_red_eye</i>
          </a>
        </div>
        <div class="collapsible-body">
          <ul class="row">
            <li class="col s4"><h6 class="label">Nombre:</h6></li>
            <li class="col s4"><h6 class="label">Fecha Creación:</h6></li>
            <li class="col s4"><h6 class="label">Localización:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleTrabajo.nombre}}</li>
            <li class="col s4">{{detalleTrabajo.fecha_ingreso | date:'yyyy-MM-dd'}}</li>
            <li class="col s4">{{detalleTrabajo.nombre_locacion}}</li>
          </ul>
          <ul class="row">
            <li class="col s4"><h6 class="label">UUCC:</h6></li>
            <li class="col s4"><h6 class="label">Estado:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s4">{{detalleTrabajo.uucc}}</li>
            <li class="col s4">{{detalleTrabajo.estado_programa}}</li>
          </ul>
          <ul class="row">
            <li class="col s12"><h6 class="label">Comentarios:</h6></li>
          </ul>
          <ul class="row">
            <li class="col s12">{{detalleTrabajo.comentarios}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
