<header-js></header-js>

<br>

<div class="row">
    <div class="col s3">
        <label for="nombre">Nombre</label>
        <input disabled id="nombre" type="text" ng-model="usuario.name" class="validate">
    </div>
    <div class="col s3">
        <label for="sap">Correo</label>
        <input disabled id="sap" type="text" ng-model="usuario.email" class="validate">
    </div>
    <div class="col s3">
        <label for="zona">Zona</label>
        <input disabled id="zona" type="text" ng-model="usuario.zona" class="validate">
    </div>
    <div class="col s3">
        <label for="area">Área de Servicio</label>
        <input disabled id="area" type="text" ng-model="usuario.area_servicio" class="validate">
    </div>
</div>

<div class="row">
    <h4 class="blue-grey-text darken-2 center">JA - Menú de Gestión de Etapas</h4>
</div>

<div class="row">
    <div class="col s4 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/folder_add.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Obras<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Asignar Supervisor<i class="material-icons right">close</i></span>
                <p>Menú de asignación de Supervisor</p>
            </div>
            <div class="card-action">
                <a ui-sref="perfil_js_asignaGP">Asignar Supervisor: {{countSinGP}}</a>
            </div>
            <div class="card-action">
                <a ui-sref="perfil_js_cambiaGP">Cambiar Supervisor</a>
            </div>
        </div>
    </div>
    <div class="col s4 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/briga.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Etapas<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Gestionar Etapas<i class="material-icons right">close</i></span>
                <p>Menú de gestión de Etapas</p>
            </div>
            <!--div class="card-action">
                <a name="propone" ui-sref="perfil_js_propuesta">Proponer Fechas: {{countSinPropuesta}}</a>
            </div-->
            <!--div class="card-action">
                <a ui-sref="perfil_js_trabajos">Asignar Trabajos: {{countSinTrabajos}}</a>
            </div-->
            <div class="card-action">
                <a ui-sref="perfil_js_obras">Ver Detalle: {{countDetalleObras}}</a>
            </div>
        </div>
    </div>
    <div class="col s4 m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/contra.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Reunión<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Reunión<i class="material-icons right">close</i></span>
                <p>Menú para la reunión</p>
            </div>
            <div class="card-action">
                <a ui-sref="perfil_js_valida">Validar Compromisos: {{countValidar}}</a>
            </div>
            <div class="card-action">
                <a ui-sref="perfil_js_compromiso">Generar Compromisos: {{countCompromiso}}</a>
            </div>
        </div>
    </div>
</div>
