
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li>
        <a ui-sref="perfil_js_asignaGP">Asignar Supervisor</a>
    </li>
    <li>
        <a ui-sref="perfil_js_cambiaGP">Cambiar Supervisor</a>
    </li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <!--li>
        <a ui-sref="perfil_js_propuesta">Generar Propuesta</a>
    </li-->
    <!--li>
        <a ui-sref="perfil_js_trabajos">Asignar Trabajos</a>
    </li-->
    <li>
        <a ui-sref="perfil_js_obras">Ver Detalle Obras</a>
    </li>
</ul>
<ul id="dropdown3" class="dropdown-content">
    <li>
        <a ui-sref="perfil_js_compromiso">Generar Compromiso</a>
    </li>
    <li>
        <a ui-sref="perfil_js_valida">Validar compromiso</a>
    </li>
</ul>
<ul id="dropdown4" class="dropdown-content">
    <li>
        <a ui-sref="perfil_js">Inicio</a>
    </li>
    <li>
        <a ng-click="cerrarSession()">Cerrar sesión</a>
    </li>
</ul>

<nav>
    <div class="nav-wrapper blue-grey">
        <a ui-sref="perfil_js" class="brand-logo">
            <img src="img/logoFenosa.png" class="responsive-img icon-fenosa">
        </a>
        <ul class="right">
            <!-- Dropdown Triggerr -->
            <li>
                <a class="dropdown-button" data-beloworigin="true" data-activates="dropdown1" data-constrainwidth="false">Obras<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li>
                <a class="dropdown-button" data-beloworigin="true" data-activates="dropdown2" data-constrainwidth="false">Etapas<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li>
                <a class="dropdown-button" data-beloworigin="true" data-activates="dropdown3" data-constrainwidth="false">Reunión<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a ui-sref="backlog">Sugerencias</a></li>
            <li>
                <a class="dropdown-button" data-beloworigin="true" data-activates="dropdown4" data-constrainwidth="false"><i class="material-icons">more_vert</i></a>
            </li>
        </ul>
    </div>
</nav>

<script>
    $( document ).ready(function(){
        $(".dropdown-button").dropdown({
            belowOrigin: true,
            alignment: 'left',
            inDuration: 200,
            outDuration: 150,
            constrain_width: true,
            hover: true,
            gutter: 1
        });
        $(".button-collapse").sideNav();
    })
</script>
