<header-js></header-js>

<!--Informacion del proyecto-->

<br>
<div ui-i18n="{{'es'}}">
    <h4 class="blue-grey-text darken-2 center">Etapas sin Propuesta</h4>
    <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>


<div id="asignarObra" class="modal">
    <div class="modal-content">
        <div class="row">
            <form name="formProp" class="col s12" ng-model="obra">
                <h4 class="blue-grey-text darken-2">Información de la Obra  <i class="material-icons">info_outline</i></h4>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">NOMBRE: &nbsp</b>{{obra.nombre}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">UNIDADES CONSTRUCTIVAS: &nbsp</b>{{obra.uucc}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">LOCALIZACIÓN: &nbsp</b>{{obra.nombre_locacion}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">FECHA LIMITE: &nbsp</b>{{obra.fecha_limite | date:'yyyy-MM-dd  h:mma'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <b class="blue-grey-text darken-1">COMENTARIOS</b><br>
                        {{obra.comentarios}}
                    </div>
                </div>
                <br>
                <h4 class="blue-grey-text darken-2">Propuesta</h4>
                <br>
                <div class="row">
                    <div class="col s6">
                        <label>Fecha Inicio</label>
                        <input id="fechaInicio" name="fechaInicio" type="date" class="datepicker" placeholder="yyyy-mm-dd" ng-model="obra.propuesta.fecha_inicio"
                               ng-min="hoy" ng-max="obra.propuesta.fecha_fin" ng-required="true">
                        <small ng-show="formProp.fechaInicio.$touched && formProp.fechaInicio.$error.required" class="error-input">CAMPO REQUERIDO</small>
                        <small ng-show="formProp.fechaInicio.$touched && formProp.fechaInicio.$error.min" class="error-input">INGRESE FECHA POSTERIOR A HOY</small>
                        <small ng-show="formProp.fechaInicio.$touched && formProp.fechaInicio.$error.max" class="error-input">FECHA INICIO DEBE SER INFERIOR A FECHA FIN</small>
                    </div>
                    <div class="col s6">
                        <label>Fecha Fin</label>
                        <input id="fechaFin" name="fechaFin" type="date" class="datepicker" placeholder="yyyy-mm-dd" ng-model="obra.propuesta.fecha_fin"
                               ng-min="obra.propuesta.fecha_inicio" ng-max="obra.fecha_limite" ng-required="true">
                        <small ng-show="formProp.fechaFin.$touched && formProp.fechaFin.$error.required" class="error-input">CAMPO REQUERIDO</small>
                        <small ng-show="formProp.fechaFin.$touched && formProp.fechaFin.$error.min" class="error-input">INGRESE FECHA POSTERIOR A FECHA INICIO</small>
                        <small ng-show="formProp.fechaFin.$touched && formProp.fechaFin.$error.max" class="error-input">FECHA FIN DEBE SER INFERIOR A FECHA LIMITE</small>
                    </div>
                </div>
                <div class="row" >
                    <div class="input-field col s12">
                        <textarea id="comentProp" name="comentProp" class="materialize-textarea" ng-model="obra.propuesta.comentario" ng-required="true"></textarea>
                        <label for="comentProp">Comentarios</label>
                        <small ng-show="formProp.comentProp.$touched && formProp.comentProp.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnProponer" class="waves-effect waves-green btn right" ng-disabled="formProp.$invalid" ng-click="crearPropuesta(obra)">Proponer</button>
        <a class="waves-effect waves-green btn-flat right" ng-click="closeProponerObra()">Cancelar</a>
    </div>
</div>

