<header-js></header-js>

<br><br>
<div ui-i18n="{{'es'}}">
    <h4 class="blue-grey-text darken-2 center">Validar Compromisos</h4>
    <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>

<div id="validar" class="modal">
    <div class="modal-content">
        <div class="row">
            <form name="formValidar" class="col s12" ng-model="fase" novalidate>
                <h4 class="blue-grey-text darken-2">Información de la Obra  <i class="material-icons">info_outline</i></h4>
                <div class="row">
                    <div class="col s12">
                        <p><b class="blue-grey-text darken-1">CÓDIGO: &nbsp</b>{{proyecto.codigo_SAP}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p><b class="blue-grey-text darken-1">DESCRIPCIÓN: &nbsp</b>{{proyecto.nombre}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5 class="center"><b class="blue-grey-text darken-1">FASE: &nbsp</b>{{fase.nombre}}</h5><hr>
                    </div>
                </div>
                <h4 class="blue-grey-text darken-2">Validación Previa  <i class="material-icons">info_outline</i></h4>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">SUPERVISOR: &nbsp</b>{{fase.gp.name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">FECHA INICIO: &nbsp</b>{{fase.validacion_supervisor.fecha_inicio | date:'dd-MM-yyyy h:mma'}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">FECHA FIN: &nbsp</b>{{fase.validacion_supervisor.fecha_fin | date:'dd-MM-yyyy h:mma'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <b class="blue-grey-text darken-1">COMENTARIOS</b><br>
                        {{fase.compromiso.comentario}}
                    </div>
                </div>
                <br>
                <h4 class="blue-grey-text darken-2">Validar Compromiso</h4>
                <br>
                <div class="row" >
                    <div class="input-field col s12">
                        <select class="browser-default" name="valida" ng-model="fase.validacion.estado" required>
                            <option value="" disabled selected>¿Se cumplió el Compromiso?</option>
                            <option ng-value="1">Si</option>
                            <option ng-value="0">No</option>
                        </select><br>
                        <small ng-show="formValidar.valida.$touched && formValidar.valida.$pristine" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                </div>
                <div class="row" >
                    <div class="input-field col s12">
                        <textarea id="comentVal" name="comentVal" class="materialize-textarea" ng-model="fase.validacion.comentario" required></textarea>
                        <label for="comentVal">Comentarios</label>
                        <small ng-show="formValidar.comentVal.$touched && formValidar.comentVal.$invalid" class="error-input">CAMPO REQUERIDO</small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-green btn right" ng-disabled="formValidar.$invalid" ng-click="crearValidacion(fase)">Validar Compromiso</button>
        <a class="waves-effect waves-green btn-flat right" ng-click="closeValidar()">Cancelar</a>
    </div>
</div>