<contratista-header></contratista-header>

<div class="row">
  <h3 class="center blue-grey-text" >Gestión de obras EC</h3>
</div>
<div class="row">
  <div class="col s2">
  </div>
  <div class="col s4">
    <i class="material-icons left" ng-click="modal1()">info</i><b class="labelp">NOMBRE:</b>&nbsp {{nombre}}
  </div>
  <div class="col s4">
    <i class="material-icons left" ng-click="modal2()">info</i><b class="labelp">PERFIL:</b>&nbsp Contratista
  </div>
</div>

<div class="row">
  <h4 class="center blue-grey-text" >Obras para contraproponer</h4>
</div>
<div ui-i18n="{{'es'}}">
  <div  ui-grid="tablaOp" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>

<div class="row">
  <h4 class="center blue-grey-text" >Obras para reportar</h4>
</div>
<div ui-i18n="{{'es'}}">
  <div  ui-grid="tablaOpr" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>

<div id="contrapropuesta" class="modal">
  <div class="modal-content">
    <h4 class="blue-grey-text darken-2">Información de la Obra  <i class="material-icons">info_outline</i></h4>
    <div class="row">
      <div class="col s12">
        <p><b class="blue-grey-text darken-1">CÓDIGO: &nbsp</b>{{job.codigo_SAP}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p><b class="blue-grey-text darken-1">DESCRIPCIÓN: &nbsp</b>{{job.description}}</p>
      </div>
    </div>
    <h5 class="blue-grey-text darken-2">Trabajo: {{job.nom_tra}} <i class="material-icons" ng-click="logAlgo(paso)">info_outline</i></h5>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA INICIO: </b>{{job.inicio | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA FIN: </b>{{job.fin | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s9">
            <p><b class="blue-grey-text darken-1">FASE: </b>{{fase.nombre}}</p>
          </div>
        </div>
        <div class="row" ng-if="fase.nombre==ejecucion">
          <div class="col s12">
            <b class="blue-grey-text darken-1">COMENTARIOS:</b><br>
            {{job.comentario}}
          </div>
        </div>
      </div>
    </div>
    <!-- <h5 class="blue-grey-text darken-2">{{previo.titulo}} <i class="material-icons">info_outline</i></h5>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA INICIO: </b>{{previo.fecha_inicio | date:'yyyy-MM-dd'}}</p>
          </div>
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA FIN: </b>{{previo.fecha_fin | date:'yyyy-MM-dd'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <b class="blue-grey-text darken-1">COMENTARIOS:</b><br>
            {{previo.comentario}}
          </div>
        </div>
        <div class="row" ng-show="previo.tipo=='compromiso'">
          <b class="blue-grey-text darken-1">BRIGADA EN SIVER:</b>
        </div>
        <div class="row" ng-show="previo.tipo=='compromiso'">
          <div class="col s4">
            <p><b class="blue-grey-text darken-1">ID(SIVER): </b>{{previo.id_brigada}}</p>
          </div>
          <div class="col s8">
            <p><b class="blue-grey-text darken-1">NOMBRE: </b>{{previo.nombre_brigada}}</p>
          </div>
        </div>
        <div class="row" ng-show="previo.tipo=='compromiso'">
          <div class="col s12">
            <b class="blue-grey-text darken-1">SERVICIO:</b>
            {{previo.servicio_brigada}}
          </div>
        </div>
      </div>
    </div> -->
    <h4>Contrapropuesta</h4>
    <div class="row">
      <form class="col s12" ng-model="paso">
        <div class="row">
          <div class="col s6">
            <label for="inicio">Fecha inicio:</label>
            <input class="form-control"
                   ng-model="paso.fecha_inicio"
                   ng-model-options="{ updateOn: 'blur' }"
                   moment-picker="paso.fecha_inicio"
                   format="DD/MM/YYYY HH:mm"
                   start-view="month"
                   keyboard="true"
                   placeholder="DD/MM/YYYY HH:mm"
                   locale="es">
          </div>
          <div class="col s6">
            <label for="fin">Fecha fin:</label>
            <input class="form-control"
                   ng-model="paso.fecha_fin"
                   ng-model-options="{ updateOn: 'blur' }"
                   moment-picker="paso.fecha_fin"
                   format="DD/MM/YYYY HH:mm"
                   start-view="month"
                   keyboard="true"
                   placeholder="DD/MM/YYYY HH:mm"
                   locale="es">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="comentario" type="text" class="validate" ng-model="paso.comentario">
            <label for="comentario">Comentario:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <div class = "switch"><label>Replanteo: &nbsp &nbsp &nbsp no<input ng-model="paso.replanteo" type="checkbox">
              <span class = "lever"></span>si</label></div>
          </div>
          <div class="input-field col s4">
            <div class = "switch"><label>Permiso: &nbsp &nbsp &nbsp no<input ng-model="paso.permiso" type="checkbox">
              <span class = "lever"></span>si</label></div>
          </div>
          <div class="input-field col s4">
            <div class = "switch"><label>Materiales: &nbsp &nbsp &nbsp no<input ng-model="paso.materiales" type="checkbox">
              <span class = "lever"></span>si</label></div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <div class = "switch"><label>Poda: &nbsp &nbsp &nbsp &nbsp &nbsp no<input ng-model="paso.poda" type="checkbox">
              <span class = "lever"></span>si</label></div>
          </div>
          <div class="input-field col s4">
            <div class = "switch"><label>Descargo: &nbsp &nbsp &nbsp no<input ng-model="paso.descargo" type="checkbox">
              <span class = "lever"></span>si</label></div>
          </div>
          <div class="input-field col s4">
            <div class = "switch"><label>Tarj Amarilla:: &nbsp &nbsp &nbsp no<input ng-model="paso.tarjeta_amarilla" type="checkbox">
              <span class = "lever"></span>si</label></div>
          </div>
        </div>
        <div class="row">
          <br> &nbsp</br>
        </div>
        <div class="row">
          <div class="col s4">
            <p><b class="blue-grey-text darken-1">Brigada SIVER: </b></p>
          </div>
          <div class="col s4">
            <button class="btn waves-effect waves-light green darken-3" ng-click="openBrigadas()">Elegir</button>
          </div>
          <div class="input-field col s4">
            <input id="supervisor" type="text" class="validate" ng-model="paso.supervisor">
            <label for="supervisor">Supervisor EC:</label>
          </div>
        </div>
        <div class="row">
          <div class="col s2">
            <p><b class="blue-grey-text darken-1">ID: </b>{{paso.id_brigada}}</p>
          </div>
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">Nombre: </b>{{previo.name}}</p>
          </div>
          <div class="col s4">
            <p><b class="blue-grey-text darken-1">Servicio: </b>{{previo.sigla}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn" ng-click="contraproponer()">Contraproponer</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="cancelarC()">Cancelar</a>
  </div>
</div>

<div id="reporte" class="modal">
  <div class="modal-content">
    <h4 class="blue-grey-text darken-2">Información de la Obra  <i class="material-icons">info_outline</i></h4>
    <div class="row">
      <div class="col s12">
        <p><b class="blue-grey-text darken-1">CÓDIGO: &nbsp</b>{{job.codigo_SAP}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p><b class="blue-grey-text darken-1">DESCRIPCIÓN: &nbsp</b>{{job.description}}</p>
      </div>
    </div>
    <h5 class="blue-grey-text darken-2">Trabajo: {{job.nom_tra}} <i class="material-icons">info_outline</i></h5>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA INICIO: </b>{{job.inicio | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA FIN: </b>{{job.fin | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s9">
            <p><b class="blue-grey-text darken-1">FASE: </b>{{fase.nombre}}</p>
          </div>
        </div>
        <div class="row" ng-if="fase.nombre==ejecucion">
          <div class="col s12">
            <b class="blue-grey-text darken-1">COMENTARIOS:</b><br>
            {{job.comentario}}
          </div>
        </div>
      </div>
    </div>
    <h5 class="blue-grey-text darken-2">{{previo.titulo}} <i class="material-icons">info_outline</i></h5>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s9">
            <p><b class="blue-grey-text darken-1">{{previo.role}}: </b>{{previo.quien}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA INICIO: </b>{{previo.fecha_inicio | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
          <div class="col s6">
            <p><b class="blue-grey-text darken-1">FECHA FIN: </b>{{previo.fecha_fin | date:'dd-MM-yyyy hh:mm'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <b class="blue-grey-text darken-1">COMENTARIOS:</b><br>
            {{previo.comentario}}
          </div>
        </div>
        <div class="row" ng-show="previo.tipo=='validacions'">
          <div class="col s6">
            <b class="blue-grey-text darken-1">REPROGRAMACIONES:</b>
            {{previo.num_reprog}}
          </div>
          <div class="col s6">
            <b class="blue-grey-text darken-1">RESULTADO: </b> Reprobada
          </div>
        </div>
        <div class="row" ng-show="fase.nombre==ejecucion">
          <b class="blue-grey-text darken-1">BRIGADA EN SIVER:</b>
        </div>
        <div class="row" ng-show="fase.nombre==ejecucion">
          <div class="col s4">
            <p><b class="blue-grey-text darken-1">ID(SIVER): </b>{{previo.id_brigada}}</p>
          </div>
          <div class="col s8">
            <p><b class="blue-grey-text darken-1">NOMBRE: </b>{{previo.nombre_brigada}}</p>
          </div>
        </div>
        <div class="row" ng-show="fase.nombre==ejecucion">
          <div class="col s12">
            <b class="blue-grey-text darken-1">SERVICIO:</b>
            {{previo.servicio_brigada}}
          </div>
        </div>
      </div>
    </div>
    <h4>Reporte</h4>
    <div class="row">
      <form class="col s12" ng-model="reporte">
        <div class="row">
          <div class="col s6">
            <label for="inicio">Fecha inicio:</label>
            <input class="form-control"
                   ng-model="reporte.fecha_inicio"
                   ng-model-options="{ updateOn: 'blur' }"
                   moment-picker="reporte.fecha_inicio"
                   format="DD/MM/YYYY HH:mm"
                   start-view="month"
                   keyboard="true"
                   placeholder="DD/MM/YYYY HH:mm"
                   locale="es">
          </div>
          <div class="col s6">
            <label for="fin">Fecha fin:</label>
            <input class="form-control"
                   ng-model="reporte.fecha_fin"
                   ng-model-options="{ updateOn: 'blur' }"
                   moment-picker="reporte.fecha_fin"
                   format="DD/MM/YYYY HH:mm"
                   start-view="month"
                   keyboard="true"
                   placeholder="DD/MM/YYYY HH:mm"
                   locale="es">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="comentario" type="text" class="validate" ng-model="reporte.comentario">
            <label for="comentario">Comentario:</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Resultado</label>
            <select class="browser-default" ng-change="habCausas()" ng-model="resultado" ng-options="res.name for res in results" required="required">
            </select>
          </div>
          <div class="col s6">
            <label>Causa</label>
            <select class="browser-default" ng-change="avance()" ng-model="causa" ng-options="cau.causa disable when cau.disa for cau in causas" required="required">
            </select>
          </div>
        </div>
        <div class="row" ng-show="causa.causa==avanceparcial">
          <div class="col s6">
            <p>Indica el porcentaje de avance</p>
          </div>
          <div class="input-field col s6">
            <input id="Numero" type="number" class="validate" ng-model="reporte.avance" ng-value="reporte.avance">
            <label for="Numero">&nbsp &nbsp &nbsp Avance(%):</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn" ng-click="reportar()">Reportar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="cancelarReporte()">Cancelar</a>
  </div>
</div>

<div id="errores" class="modal">
  <div class="modal-content">
    <h4>Error al enviar el paso:</h4>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p ng-repeat="error in errores"><i class="material-icons left" ng-click="modal1()">forward</i>{{error}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn" ng-click="closeErrores()">Aceptar</a>
  </div>
</div>


<div id="brigadas" class="modal">
  <div class="modal-content">
    <h4>Selecciona una brigada:</h4>
    <div class="row">
      <p></p>
    </div>
    <div ui-i18n="{{'es'}}">
      <div ui-grid="tablaBri" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="modalGrid" ng-if="brigas"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn" ng-click="cancelarB()">Cancelar</a>
  </div>
</div>

