<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li>
    <a ui-sref="programador_ec">Programar Trabajos</a>
  </li>
  <li>
    <a ui-sref="home">Cerrar sesión</a>
  </li>
</ul>
<nav>
  <div class="nav-wrapper blue-grey darken-3">
    <a ui-sref="perfil_admin" class="brand-logo center">
      <img src="img/logoFenosa.png" class="responsive-img icon-fenosa">
    </a>
    <ul class="right">
      <!-- Dropdown Triggerr -->
      <li>
        <a class="dropdown-button" data-beloworigin="true" data-activates="dropdown1">Menu Principal<i class="material-icons right">arrow_drop_down</i></a>
      </li>
    </ul>
  </div>
</nav>

<script>
    $( document ).ready(function(){
        $(".dropdown-button").dropdown({
            belowOrigin: true,
            alignment: 'left',
            inDuration: 200,
            outDuration: 150,
            constrain_width: true,
            hover: true,
            gutter: 1
        });
        $(".button-collapse").sideNav();
    })
</script>

