<contratista-header></contratista-header>

<div class="row">
    <h3 class="center blue-grey-text" >Etapas EC</h3>
</div>
<div ui-i18n="{{'es'}}">
    <div  ui-grid="tablaEta" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>

<div class="row">
    <h5 class="center blue-grey-text" >Trabajos Etapa:</h5>
</div>
<div class="row">
    <div class="col s1">
    </div>
    <div class="col s3">
        <p><b class="blue-grey-text darken-1">Codigo: </b>{{etapa.codigo_SAP}}</p>
    </div>
    <div class="col s3">
        <p><b class="blue-grey-text darken-1">Localizacion: </b>{{etapa.nombre_locacion}}</p>
    </div>
    <div class="col s3">
        <p><b class="blue-grey-text darken-1">Servicio: </b>{{etapa.servicio}}</p>
    </div>
</div>
<div class="row">
    <div class="col s1">
    </div>
    <div class="col s3">
        <p><b class="blue-grey-text darken-1">Fecha Limite: </b>{{etapa.fecha_limite| date:'dd-MM-yyyy'}}</p>
    </div>
    <div class="col s3">
        <p><b class="blue-grey-text darken-1">Semana: </b>{{etapa.semana}}</p>
    </div>
    <div class="col s3">
        <p><b class="blue-grey-text darken-1">UUCC: </b>{{etapa.uucc}}</p>
    </div>
</div>
<div class="row">
    <div class="col s3">
    </div>
    <div class="col s6">
        <p>Click aca para contraproponer un nuevo trabajo a esta etapa</p>
    </div>
    <div class="col s3">
        <button class="buttonT" ng-click="nuevo()" ng-show="etapa.id>0">Nuevo</button>
    </div>
</div>

<div ui-i18n="{{'es'}}">
    <div  ui-grid="tablaTra" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="myGrid"></div>
</div>

<div id="trabajo" class="modal">
    <div class="modal-content">
        <h3 class="blue-grey-text darken-2">Nuevo Trabajo<i class="material-icons" ng-click="logAlgo(paso)">info_outline</i></h3>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="nombre" type="text" class="validate" ng-model="job.nombre">
                        <label for="nombre">Nombre:</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="Numero" type="number" class="validate" ng-model="job.uucc">
                        <label for="Numero">&nbsp &nbsp &nbsp UUCC</label>
                    </div>
                </div>
            </div>
        </div>
        <h4>Contrapropuesta</h4>
        <div class="row">
            <form class="col s12" ng-model="paso">
                <div class="row">
                    <div class="col s6">
                        <label for="inicio">Fecha inicio:</label>
                        <input class="form-control"
                               ng-model="paso.fecha_inicio"
                               change="setFin()"
                               ng-model-options="{ updateOn: 'blur' }"
                               moment-picker="paso.fecha_inicio"
                               format="DD/MM/YYYY HH:mm"
                               start-view="month"
                               keyboard="true"
                               placeholder="DD/MM/YYYY HH:mm"
                               locale="es">
                    </div>
                    <div class="col s6">
                        <label for="fin">Fecha fin:</label>
                        <input class="form-control"
                               ng-model="paso.fecha_fin"
                               ng-value="paso.fecha_fin"
                               ng-model-options="{ updateOn: 'blur' }"
                               moment-picker="paso.fecha_fin"
                               format="DD/MM/YYYY HH:mm"
                               start-view="month"
                               keyboard="true"
                               placeholder="DD/MM/YYYY HH:mm"
                               locale="es">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="comentario" type="text" class="validate" ng-model="paso.comentario">
                        <label for="comentario">Comentario:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <div class = "switch"><label>Replanteo: &nbsp &nbsp &nbsp no<input ng-model="paso.replanteo" type="checkbox">
                            <span class = "lever"></span>si</label></div>
                    </div>
                    <div class="input-field col s4">
                        <div class = "switch"><label>Permiso: &nbsp &nbsp &nbsp no<input ng-model="paso.permiso" type="checkbox">
                            <span class = "lever"></span>si</label></div>
                    </div>
                    <div class="input-field col s4">
                        <div class = "switch"><label>Materiales: &nbsp &nbsp &nbsp no<input ng-model="paso.materiales" type="checkbox">
                            <span class = "lever"></span>si</label></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <div class = "switch"><label>Poda: &nbsp &nbsp &nbsp &nbsp &nbsp no<input ng-model="paso.poda" type="checkbox">
                            <span class = "lever"></span>si</label></div>
                    </div>
                    <div class="input-field col s4">
                        <div class = "switch"><label>Descargo: &nbsp &nbsp &nbsp no<input ng-model="paso.descargo" type="checkbox">
                            <span class = "lever"></span>si</label></div>
                    </div>
                    <div class="input-field col s4">
                        <div class = "switch"><label>Tarj Amarilla:: &nbsp &nbsp &nbsp no<input ng-model="paso.tarjeta_amarilla" type="checkbox">
                            <span class = "lever"></span>si</label></div>
                    </div>
                </div>
                <div class="row">
                    <br> &nbsp</br>
                </div>
                <div class="row">
                    <div class="col s4">
                        <p><b class="blue-grey-text darken-1">Brigada SIVER: </b></p>
                    </div>
                    <div class="col s4">
                        <button class="btn waves-effect waves-light green darken-3" ng-click="openBrigadas()">Elegir</button>
                    </div>
                    <div class="input-field col s4">
                        <input id="supervisor" type="text" class="validate" ng-model="paso.supervisor">
                        <label for="supervisor">Supervisor EC:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2">
                        <p><b class="blue-grey-text darken-1">ID: </b>{{paso.id_brigada}}</p>
                    </div>
                    <div class="col s6">
                        <p><b class="blue-grey-text darken-1">Nombre: </b>{{previo.name}}</p>
                    </div>
                    <div class="col s4">
                        <p><b class="blue-grey-text darken-1">Servicio: </b>{{previo.sigla}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn" ng-click="crear()">Contraproponer</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="cancelar()">Cancelar</a>
    </div>
</div>


<div id="brigadas" class="modal">
    <div class="modal-content">
        <h4>Selecciona una brigada:</h4>
        <div class="row">
            <p></p>
        </div>
        <div ui-i18n="{{'es'}}">
            <div ui-grid="tablaBri" ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-exporter ui-grid-selection class="modalGrid" ng-if="brigas"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn" ng-click="cancelarB()">Cancelar</a>
    </div>
</div>


<div id="errores" class="modal">
    <div class="modal-content">
        <h4>Error al enviar el paso:</h4>
        <div class="row">
            <p></p>
        </div>
        <div class="row">
            <p ng-repeat="error in errores"><i class="material-icons left" ng-click="modal1()">forward</i>{{error}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn" ng-click="closeErrores()">Aceptar</a>
    </div>
</div>