<header-admin></header-admin>

<div class="container" ng-show="!detail">
    <div class="row">
        <nav class="feedback-nav">
            <div class="nav-wrapper light-blue darken-2">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" ng-model="suggestion">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons" ng-click="suggestion=''">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="right">
            <a class="waves-effect waves-light btn light-blue darken-2" data-target="feedModal">Crear</a>
        </div>
    </div>
    <ul>
        <li ng-repeat="b in backlogs | filter: suggestion">
            <div class="row">
                <div class="col s2">
                    <div class="feedback-votes">
                        <strong>{{b.likes}}</strong>
                        <span>votos</span>
                    </div>
                    <div class="center">
                        <a class="waves-effect waves-light btn light-blue darken-3 btn-vote" ng-click="vote(b)">votar</a>
                    </div>
                </div>
                <div class="col s10">
                    <h5>
                        <a class="feedback-title feedback-underline" ui-sref="backlog({id:b.id})">{{b.titulo}}</a>
                    </h5>
                    <p>
                        {{b.descripcion}}<br>
                        <a class="right">{{b.sons.length}} comentarios - Estado: {{b.estado}}</a>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="container" ng-show="detail">
    <div class="row">
        <div class="col s2">
            <div class="feedback-votes">
                <strong>{{backlogDetail.likes}}</strong>
                <span>votos</span>
            </div>
            <div class="center">
                <a class="waves-effect waves-light btn light-blue darken-3 btn-vote" ng-click="vote(backlogDetail)">votar</a>
            </div>
        </div>
        <div class="col s10">
            <h5>
                <a class="feedback-title feedback-underline" href="">{{backlogDetail.titulo}}</a>
            </h5>
            <p>
                {{backlogDetail.descripcion}}<br>
                <a class="right">{{backlogDetail.user.name}} &nbsp·&nbsp {{backlogDetail.fecha_creacion | date:'MMM d, y  H:mm':'UTC'}}</a>
            </p> 
        </div>
        <br>
        <div class="row">
            <div class="col s10 right">
                <div class="input-field">
                    <textarea id="comment" name="comment" class="materialize-textarea" ng-model="comment" ng-required="true"></textarea>
                    <label for="comment">Agregar comentario ...</label>
                </div>
                <div class="right">
                    <a class="waves-effect waves-light btn light-blue darken-3" ng-click="saveComment(backlogDetail.id, comment)">Guardar</a>    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul>
            <li ng-repeat="bd in backlogDetail.sons">
                <div class="row">
                    <div class="col s2">
                        <div class="center">
                            <img class="feedback-user" src="img/user.png" alt="user" height="70" width="70">
                        </div>
                    </div>
                    <div class="col s10 feedback-commented-area">
                        <div>
                            <a>{{bd.username}} &nbsp·&nbsp {{bd.fecha_creacion | date:'MMM d, y  H:mm'}}</a>
                        </div>
                        <p>
                            {{bd.descripcion}}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>



<div id="feedModal" class="modal">
    <div class="modal-content">
        <form name="feedForm" ng-init="backlog = {}" novalidate>
            <h4 class="indigo-text darken-4 center">Nueva sugerencia</h4>
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" name="title" type="text" class="validate" ng-model="backlog.titulo" maxlength="30" required>
                    <label for="title">Titulo</label>
                    <small ng-show="feedForm.title.$touched && feedForm.title.$invalid" class="error-input">CAMPO REQUERIDO</small>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="descrip" name="descrip" class="materialize-textarea validate" ng-model="backlog.descripcion" required></textarea>
                    <label for="descrip">Descripción</label>
                    <small ng-show="feedForm.descrip.$touched && feedForm.descrip.$invalid" class="error-input">CAMPO REQUERIDO</small>
                </div>
            </div>
        </form>
        <p>
            Gracias por ayudarnos a mejorar la herramienta.<br>
            Su sugerencia será tenida en cuenta.
        </p>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn light-blue darken-3 right" ng-disabled="feedForm.$invalid" ng-click="crearSugerencia(backlog)">Guardar</button>
        <a class="waves-effect waves-green btn-flat right" ng-click="cancelar()">Cancelar</a>
    </div>
</div>
